body {
    font-family: 'DBZFont', Arial, sans-serif;
    background-color: #000;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.mySlides {
    display: none;
    width: 100%;
    height: 100vh;
    transition: opacity 1s ease;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    margin-top:7rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download-button {
    background-color: #ff5722;
    color: #fff;
    padding: 1.5rem 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    text-decoration: none;
    margin-top: 1.5rem;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.download-button:hover {
    background-color: #ff784e;
    transform: scale(1.05);
}

h1, p {
    color: #fff;
    text-align: center;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.custom-footer {
    background-color: #000;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-text {
    font-size: 1.5rem;
    margin-top: 1rem;
}

.social-icons {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.social-icons a {
    color: #fff;
    font-size: 1.5rem;
    text-decoration: none;
    margin: 0 1rem;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #ff5722;
}

/* Mejoramos el menú */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    z-index: 2;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
    font-size: 1.2rem;
    letter-spacing: 2px;
}

.menu a:hover {
    background-color: #ff5722;
}
@font-face {
    font-family: 'DBZFont';
    src: url('ruta_de_la_fuente_dbz.woff2') format('woff2');
}